.main {
    
    text-align: center;
    width: fit-content;
    margin: auto;
    background: rgb(171, 239, 241);
    padding: 1px 7px 10px 7px;
    border-radius: 7px;

}
.btn {
    background: cadetblue;
    color: white;
    font-weight: 900;
    border-radius: 9px;
    padding: 5px;
}
.btn:hover{
    border: none;
}
.buttons {
    justify-content: space-around;
    display: flex;
}